@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  background: linear-gradient(295deg, #569867 0%, #417e51 30%, #2e603b 60%, #1f4b2a 90%);
  line-height: 1.5;
}

.container {
  padding: 50px;
}

.title {
  margin-bottom: 30px;
}